body{
    background-color: rgb(226, 43, 137);
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.white{
    color: white;
}

.red{
    color: red;
}

.darkred{
    color:darkred;
}