body{
    background-color: #14471E;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

/* dodala sam font-size za h2 da bi mi se naslov izdvojio od ostatka teksta */
h2{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #EE9B01;
}

img{
    border: double #EE9B01 15px;
    margin-bottom: 20px;
    width: 500px;
}

.yellow-color{
    color:#EE9B01;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.without-lines{
    text-decoration: none;
    padding-left: 30px;
    font-size: 30px;
}

div p:nth-child(odd){
    color: #C8D2D1;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

div p:nth-child(even){
    color: #DA6A00;
    font-size: 28px;
}

div p:nth-child(2) a{
    color: red;
}

div p:nth-child(2) a:hover{
    color: #0ae92f;
    
}

#flex{
    display: flex;
}




