*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* u sirinu elementa ulazi i pading i border -- proveri posle */
}
.row{
    width: 100%;
    border: 2px solid black;
    overflow: hidden; 
    /* dodajemo overflow zato sto nam borderi izgube visinu pa da bi ih vratili */
}

/*Za mobile  */
@media only screen and (max-width: 500px){
    [class*="col-"]{
        width: 100%;
    }
}

/* Za tablet */
@media only screen and (min-width: 501px) and (max-width: 999px){
    [class*="col-t-"]{
        float: left;
    }


    .col-t-1{
        width: 8.33%;
    }
    .col-t-2{
        width: 16.66%;
    }
    .col-t-3{
        width: 25%;
    }
    .col-t-4{
        width: 33.33%;
    }
    .col-t-5{
        width: 41.66%;
    }
    .col-t-6{
        width: 50%;
    }
    .col-t-7{
        width: 58.33%;
    }
    .col-t-8{
        width: 66.66%;
    }
    .col-t-9{
        width: 75%;
    }
    .col-t-10{
        width: 83.33%;
    }
    .col-t-11{
        width:91.66%;
    }
    .col-t-12{
        width: 100%;
    }
}


/* Za desktop */
/* 1000px i vise */
@media only screen and (min-width: 1000px){
    /* kada hocu da selektujem sve klase koje pocinju sa col- */
    [class*="col-"]{
        float: left;
    }


    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.33%;
    }
    .col-11{
        width:91.66%;
    }
    .col-12{
        width: 100%;
    }

}


/* Bojenje elemenata */
header{
    background-color: orange;
}

nav{
    background-color: aqua;
}

section{
    background-color: violet;
}

aside{
    background-color: rgb(69, 165, 42);
}

footer{
    background-color: yellow;
}